.profileListClass {
    background-color: var(--colorp3);
    height: 100%;
    width: 95%;
    border-radius: 10px;
    border: 1px solid var(--colorp2);
    margin-left: 2.5%;
    margin-top: 2%; 
}

