.reminderListBox {
    background-color: var(--colorp3);
    width: 95%;
    border-radius: 10px;
    border: 1px solid var(--colorp2);
    margin-left: 2.5%;
    margin-top: 2%; 
}

.pastMemoryClass {
    background-color: var(--colorp3);
    width: 85%;
    border-radius: 10px;
    border: 1px solid var(--colorp2);
    margin-left: 2.5%;
    margin-top: 3.6%;
}

.reminderCard {
    background-color: var(--colorp3);
}

.reminderCardList {
    margin-top: 2%; 
}


.reminderCardDescr {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    height: 74px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reminderCardTitle {
    margin-top: 15px;
    margin-left: 0px;
}

.reminderCardText {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reminderCardPriority {
    width: 80px;
    height: 40px;
    text-align: center;
    justify-content: center;
}