.searchBoxClass {
    background-color: var(--colorp3);
    width: 85%;
    border-radius: 10px;
    border: 1px solid var(--colorp2);
    margin-left: 2.5%;
    margin-top: 3.6%;
}

.inputBar {
    width: 80%;
}

.MuiCheckbox-colorPrimary.Mui-checked {
    color: var(--colorp1) !important;
}