:root {
  background-color: var(--colorp4);
  --colorp1: #383737;
  --colorp2: #cccccc;
  --colorp4: #F9F9F9;
  --colorp3: #ffffff;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --colorp1: "red";
  }
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.subp {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
