#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--colorp3);
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}

#sidenavbutton {
    height: 4rem;
    display: flex;
    align-items: center;
    border: rgba(0, 0, 0, 0);
    background-color: var(--colorp3);
    color: var(--colorp1);
    text-decoration: none;
}

#sidenavbutton:hover {
    background-color: var(--colorp2);
    text-decoration: none;
}


#sidenavicon {
    padding-right: 0.3em;
    
}

#logo {
    height: 3rem;
    background-color: var(--colorp3);
    border:rgba(0, 0, 0, 0);
    font-size: large;
    text-align: center;
    
}
#logoicon {
    color: var(--colorp1);
    background-color: var(--colorp3);
    font-weight: bold;   
}

h2 {
    font-weight: 500;
}


.inactive-link {
    text-decoration: none;
}
